*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: rgb(88, 85, 85);
}

.menu{
   background-color: transparent;
   color: #fff;
}



.navbar-nav a{
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 500;
}

.menu .navbar-brand{
   color: #fff;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
}
.navbar-light.navbar-brand:focus,
.navbar-light .navbar-brand:hover{
   color: #fff;
}
.navbar-light .navbar-nav .nav-link{
   color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
   color: #fff;
}

.prueba{
   background-color: red;
}

.w-100{
   height: 90vh; 
}

.navbar-toggler{
   padding: 1px 5px;
   font-size: 18px;
   line-height: 0.3;
   background: #FFF;
}

.card{
   margin: 9px;
}
.card-body{
   background-color: rgb(59, 57, 57);
   color: #fff;
   height: 80px;
}
.tag{
   position: absolute;
   top: 10px;
   left: 10px;
   font-size: 13px;
}
.star{
   color:red
}

.flayer{
   background-image: url("../assets/palomitas.jpg");
   width: 100%;
   height: 400px;
   background-repeat: no-repeat;
    background-size: cover;
}

.flayer:before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(0,0,0,0.7);
}
.titulo-contenido{
   text-align: center;
   color: rgb(240, 240, 240);
   opacity: none;
   font-size: 40px;
   padding: 200px;
   color: #e4d804;
   position: relative;
   
}

.pagination{
   padding-top: 20px;
   margin-left: 5px;
}
.page-link{
   background-color: rgb(59, 57, 57);
   color: #fff;
}

.page-item.active .page-link {
   background-color: #e4d804;
   border-color: #e4d804;
   color: #000;
}

.page-item.active, .page-link:hover {
   background-color: #e4d804;
   border-color: #e4d804;
   color: #000;
}




.footer{
   background-color: #000;
   width: 100%;
   height: 100px;
   color: #fff;
   text-align: center;
   padding-top: 50px;
}

@media only screen and (max-width:800px){
 .navbar-nav{
    text-align: center;
    background: rgba(0,0,0,0.5);
 }  
 .w-100{
   height: 50vh; 
}
}


